/* Reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Setto regole al font a tutto il body */
body{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
}

/* Il container che wrappa tutto ha una larghezza del 100% */
.container{
    width: 100%;
}

/* Tutti gli h1 sono in maiuscolo e hanno una grandezza del font 3 volte quella originale */
h1{
    text-transform: uppercase;
    font-size: 3em;
}

/* L'header rimane fisso nella sua posizione, anche quando il body viene scrollato */
header{
    position: fixed;
    top: 3rem;
    right: 2rem;
    z-index: 1;
}

/* Tutti i li della nav vengono disposti in orizzontale */
ul li{
    display: inline-block;
}

/* Regole per abbellire il contenitore che wrappa ogni singolo 'li' */
.element {
    width: 45px;
    height: 45px;
    line-height: 45px;
    background-color: white;
    border-radius: 50%;
    margin-left: 1.5rem;
}

a{
    color: black;
    text-decoration: none;
    font-size: 1.2em;
}

/* Quando sono in hover sul link, il font diventa più grande, cambia colore il testo e lo sfondo */
a:hover>.element{
    font-size: 1.5em;
    color: white;
    background-color: rgba(0, 0, 0, .5);
}

/* Altezza che prende tutto lo spazio a disposizione */
.height-100vh{
    height: 100vh;
    position: relative;
}

#red{background-color: red; color: yellow;}
#green{background-color: green; color: yellow;}
#yellow{background-color: yellow; color: green;}

/* Con position absolute e transform viene centata l'immagine e la scritta di ogni section */
.box-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Piccolo stratagemma per mandare a capo il testo di ogni immagine */
.img-description{
    width: 100%;
    padding: 0 14rem;
}

/* Quando sono in hover sull'immagine si ingrandisce leggermente */
.box-image>img:hover {
    transform: scale(1.2);
}